{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">MyUstadyApp</h1>
                                <h3 class="login-heading mb-4">Сброс пароля</h3>
                                <p>
                                    Мы отправили вам руководство по сбросу пароля, если существует
                                    учетная запись с введенной вами почтой.
                                    Вы должны получить их в ближайшее время.
                                </p>
                                <p>
                                    Если вы не получили электронное письмо, посмотрите, указали ли вы письмо, используя
                                    который ты зарегистрирован.
                                    Не забудьте заглянуть в папку со спамом.
                                </p>
                                <a href="{% url 'login' %}"
                                   class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Log
                                    In</a>
                                <p style="margin-top: 128px;">
                                    <small>

                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}